<div class="container">
    <div class=row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">Over deze website</h1>
                </div>
                <div class="panel-body">
                    <p>
                        Deze website is tot stand gekomen als digitaal archief 
                        voor de familie Vlaar uit Benningbroek.
                    </p>
                    <p>
                        Toegang tot deze website is beperkt tot leden van de 
                        familie. Om toegang te krijgen dient een van de 
                        familieleden een uitnodiging te versturen naar 
                        uw e-mail adres.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
