<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default ">
            <div class="panel-heading">
                <h1 class="panel-title">Wachtwoord opnieuw ingesteld</h1>
            </div>
            <div class="panel-body">
                <p>
                Uw wachtwoord is opnieuw ingesteld. U ontvangt binnen enkele
                minuten een e-mail op het door u opgegeven adres. Mocht dit niet
                het geval zijn, probeer het dan <a href="#resetPassword">opnieuw</a>.
            </div>
        </div>
    </div>
</div>
