<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default ">
            <div class="panel-heading">
                <h1 class="panel-title">Wachtwoord vergeten</h1>
            </div>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label>E-mail adres</label>
                        <input
                            type="text"
                            class="form-control"
                            data-bind="value: email" />
                        <span class="help-block">
                            Vul uw e-mail adres in en klik op onderstaande knop. Wanneer 
                            het e-mail adres bekend is ontvangt u een e-mail met
                            instructies om uw wachtwoord opnieuw in te stellen.
                        </span>
                    </div>
                    <button 
                        type="submit"
                        class="btn btn-primary"
                        data-bind="click: resetButtonClicked, disable: resetButtonDisabled">
                        Wachtwoord opnieuw instellen
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
