<div class="container">
    <div class=row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">Inloggen met e-mail</h1>
                </div>
                <div class="panel-body">
                    <p>
                        U kunt inloggen met behulp van de de e-mail die u hebt
                        ontvangen. Door op de link in het e-mail bericht te 
                        klikken wordt u automatisch ingelogd.
                    </p>
                    <p>
                        Indien u deze e-mail bent verloren kunt u eenvoudig een 
                        nieuwe ontvangen met behulp van onderstaande knop.
                    </p>
                    <button
                       type="button"
                       data-bind="click: lostEmailButtonClicked"
                       class="btn btn-primary"
                       >Stuur e-mail opnieuw</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <h1 class="panel-title">Inloggen met wachtwoord</h1>
                </div>
                <div class="panel-body">
                    <p>
                        Indien u een wachtwoord hebt ingesteld kunt u inloggen
                        met behulp van onderstaand formulier.
                    </p>
                    <form 
                        role="form"
                        data-bind="submit: formSubmitted">
                        <div 
                            class="form-group" 
                            data-bind="css: { 'has-error': errors().email }">
                            <label 
                                class="control-label" 
                                for="email">E-mail adres</label>
                            <input 
                                id="email"
                                autofocus
                                type="text" 
                                placeholder="e-mail adres" 
                                class="form-control" 
                                data-bind="value: email"/>
                            <!-- ko foreach: errors().email -->
                            <span 
                                class="help-block" 
                                data-bind="text: $data" />
                            <!-- /ko -->
                        </div>
                        <div 
                            class="form-group"
                            data-bind="css: { 'has-error': errors().password }">
                            <label 
                                class="control-label" 
                                for="password">Wachtwoord</label>
                            <input 
                                id="password"
                                type="password" 
                                placeholder="wachtwoord" 
                                class="form-control"
                                data-bind="value: password" />
                            <!-- ko foreach: errors().password -->
                            <span 
                                class="help-block" 
                                data-bind="text: $data" />
                            <!-- /ko -->
                        </div>
                        <div class="form-group">
                            <button 
                                type="submit" 
                                class="btn btn-primary">Inloggen</button>
                            <button type="button"
                                type="button"
                                class="btn btn-link"
                                data-bind="click: resetPasswordButtonClicked">Wachtwoord vergeten</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
